@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
   /* Dark Moss Green */
  --color-dark_moss_green-100: rgb(19 22 11);
  --color-dark_moss_green-200: rgb(38 43 22);
  --color-dark_moss_green-300: rgb(57 65 33);
  --color-dark_moss_green-400: rgb(76 86 44);
  --color-dark_moss_green-500: rgb(96 108 56);
  --color-dark_moss_green-600: rgb(136 153 79);
  --color-dark_moss_green-700: rgb(169 184 118);
  --color-dark_moss_green-800: rgb(197 208 163);
  --color-dark_moss_green-900: rgb(226 231 209);

  /* Pakistan Green */
  --color-pakistan_green-100: rgb(8 11 5);
  --color-pakistan_green-200: rgb(16 21 9);
  --color-pakistan_green-300: rgb(24 32 14);
  --color-pakistan_green-400: rgb(31 42 19);
  --color-pakistan_green-500: rgb(40 54 24);
  --color-pakistan_green-600: rgb(84 113 51);
  --color-pakistan_green-700: rgb(128 172 77);
  --color-pakistan_green-800: rgb(170 201 135);
  --color-pakistan_green-900: rgb(213 228 195);

  /* Cornsilk */
  --color-cornsilk-100: rgb(93 81 3);
  --color-cornsilk-200: rgb(186 162 6);
  --color-cornsilk-300: rgb(248 220 39);
  --color-cornsilk-400: rgb(251 235 132);
  --color-cornsilk-500: rgb(254 250 224);
  --color-cornsilk-600: rgb(254 251 231);
  --color-cornsilk-700: rgb(254 252 237);
  --color-cornsilk-800: rgb(255 253 243);
  --color-cornsilk-900: rgb(255 254 249);

  /* Earth Yellow */
  --color-earth_yellow-100: rgb(52 33 11);
  --color-earth_yellow-200: rgb(104 66 22);
  --color-earth_yellow-300: rgb(157 99 33);
  --color-earth_yellow-400: rgb(209 132 44);
  --color-earth_yellow-500: rgb(221 161 94);
  --color-earth_yellow-600: rgb(228 181 127);
  --color-earth_yellow-700: rgb(235 199 159);
  --color-earth_yellow-800: rgb(241 218 191);
  --color-earth_yellow-900: rgb(248 236 223);

  /* Tiger’s Eye */
  --color-tigers_eye-100: rgb(37 21 7);
  --color-tigers_eye-200: rgb(75 43 15);
  --color-tigers_eye-300: rgb(112 64 22);
  --color-tigers_eye-400: rgb(150 86 30);
  --color-tigers_eye-500: rgb(188 108 37);
  --color-tigers_eye-600: rgb(217 136 64);
  --color-tigers_eye-700: rgb(227 165 112);
  --color-tigers_eye-800: rgb(236 195 160);
  --color-tigers_eye-900: rgb(246 225 207);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
